<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_me.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portofolio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<body>
    <div class="desktop-content">
        <header>
            <a href="/Home">
                <b>
                    Portfolio
                </b>
            </a>
            <a href="/Home">
                Головна
            </a>
            <a href="/AboutMe">
                Про мене
            </a>
            <a href="/Portofolio">
                Портофоліо
            </a>
            <a href="/Services">
                Послуги
            </a>
            <a href="/Reviews">
                Відгуки
            </a>
            <a href="/Contact">
                Зв'язок
            </a>
            <a></a>
            <hr class="custom-line">
            <div class="svg-cub">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div>
        </header>
    </div>

    <div class="mobile-content">
        <header>
            <label>
                    <b>
                        Portofolio
                    </b>
            </label>
            <button>

            </button>
            <a class="a" href="/Home">
                Головна
            </a>
            <a class="a" href="/AboutMe">
                Про мене
            </a>
            <a class="a" href="/Portofolio">
                Портофоліо
            </a>
            <a class="a" href="/Services">
                Послуги
            </a>
            <a class="a" href="/Reviews">
                Відгуки
            </a>
            <a class="a" href="/Contact">
                Зв'язок
            </a>
            <a></a>
            <hr class="custom-line" id="line-header">
        </header>
    </div>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>